$font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// common
$light:         #E5E5E5;
$white:         #FFFFFF;
$gray:          #C7C6C7;
$red:           rgb(240, 80, 80);
// primary
$black:         #0F1F2F;
$dark:          #222836;
$blue:          #4A7197;
$blue-light:    #5E7B97;
// secondary 1
$gold:          #A47F49;
$gold-light:    #A48962;
// secondary 2
$green:         #44987A;
$green-light:   #5A9882;
// secondary 3
$purple:        #555099;
$purple-light:  #676499;

$box-shadow:    0px 6px 10px rgba(16, 17, 19, 0.1);

// debug
$border-red:    1px red solid;
$border-blue:   1px blue solid;
$border-green:  1px green solid;