:root {
    --color-light: #E5E5E5;
    --color-white: #FFFFFF;
    --color-gray: #C7C6C7;
    --color-red: rgb(240, 80, 80);
    --color-black: #0F1F2F;
    --color-dark: #222836;
    --color-blue: #4A7197;
    --color-blue-light: #5E7B97;
    --color-gold: #A47F49;
    --color-gold-light: #A48962;
    --color-green: #44987A;
    --color-green-light: #5A9882;
    --color-purple: #555099;
    --color-purple-light: #676499;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    position: relative;
    font-size: medium;
    background: var(--color-black);
    color: var(--color-white);
}

h1,
h2,
h3,
h4 {
    color: var(--color-gold-light);
}

h1 {
    font-size: 40px;
    margin: 2rem 0;
}

.wrapper {
    margin: 0 auto; 
    max-width: 1200px;
    padding: 1rem;
}

.header {
    text-align: center;
    border-bottom: 2px var(--color-purple-light) solid;
    margin-bottom: 4rem;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
    padding-bottom: 3rem;
    border-bottom: 2px var(--color-purple-light) solid;
}

.login {
    flex: 1;
    margin: 0 auto; 
    max-width: 480px;
    padding: 2rem;
    border: 4px var(--color-purple-light) solid;
    border-radius: 6px;
    box-shadow: 0px 6px 10px rgba(16, 17, 19, 0.15);
}

.content {
    flex: 2;
    text-align: justify;
}

.content p {
    font-size: 20px;
    line-height: 1.5;
    color: var(--color-gold-light);
    margin-bottom: 1rem;
}

.input {
    border: 4px var(--color-purple-light) solid;
    background-color: var(--color-white);
    padding: 0.5rem 0.75rem;
    outline: 0;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 0.25rem;
    border-radius: 6px;
    font-size: 20px;
}

.field-login-rememberme input[type="checkbox"] {
    border: 4px var(--color-purple-light) solid;
    background-color: var(--color-white);
    border-radius: 6px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 0.75rem;
}

.field-login-rememberme label {
    font-size: 18px;
}

.form-group .help-block {
    color: var(--color-red);
    margin-bottom: 1rem;
}

.form-submit-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 1rem;
    margin-bottom: 1rem;
}

.form-submit-group *:first-child,
.form-submit-group *:last-child {
    flex: 1;
}

.form-submit-group *:last-child {
    text-align: right;
}

.btn-login {
    background-color: var(--color-red);
    color: var(--color-white);
    border: 0;
    outline: 0;
    padding: 0.75rem;
    border-radius: 6px;
    font-size: 20px;
    width: 100%;
}

.btn-login:hover {
    opacity: 0.85;
    cursor: pointer;
}

.btn-link {
    color: var(--color-blue-light);
}

.btn-link:hover {
    opacity: 0.85;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    text-align: center;
    padding: 2rem;
}

.copyright {
    color: var(--color-gold-light);
}

@media (max-width: 991.98px) {
    .container {
        flex-direction: column-reverse;
    }
    .login {
        flex: 1;
    }
    .content {
        flex: 1;
    }
}
@media (max-width: 767.98px) {
    .container {
        flex-direction: column-reverse;
    }
    footer {
        padding: 1rem;
    }
}