:root {
    --color-light: #F8F8F8;
    --color-white: #FFFFFF;
    --color-gray: #BFBFBF;
    --color-gray-dark: #AAAAAA;
    --color-black: #090909;
    --color-dark: #131313;
    --color-gold: #CEA15D;
    --color-gold-light: #A48962;
    --color-bronze: #965B1D;
    --color-red: #C10A0A;
    --color-red-dark: #AD0E0E;
    --color-green: #47BB1E;
}

body {
    font-family: "Inter Regular", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    position: relative;
    font-size: medium;
    color: var(--color-white);
    background: var(--color-dark) url(../images/bg-first-screen.png) no-repeat center top;
}

h1,
h2,
h3,
h4 {
    font-family: "Cormorant Medium", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: var(--color-gold);
}

h2 {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 60px; /* or 100% */
    text-align: center;
    letter-spacing: -0.025em;
    color: var(--color-light);
}

button {
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
    opacity: .95;
    transition: .4s;
}

a {
    color: var(--color-white);
    text-decoration: none;
}

a:hover {
    color: var(--color-gold);
    text-decoration: underline;
    transition: .4s;
}

.wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 1520px;
}

.header {
    width: 100%;
    background-color: var(--color-black);
}

.header > * {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.logo:hover {
    text-decoration: none;
}

.logo figure {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    text-decoration: none;
}

.logo figure img:hover,
.logo figure figcaption:hover {
    opacity: .85;
}

.logo figure figcaption {
    font-family: 'Cormorant Medium';
    line-height: 15px;
    letter-spacing: -0.03em;
    color: var(--color-bronze);
}

.main-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.main-menu li a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: .95rem;
    line-height: 22px;
    letter-spacing: -0.01em;
    color: var(--color-gray);
}

.main-menu li.active a {
    color: var(--color-gold);
}

.languages-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 0.75rem;
    padding: 0;
    margin: 0;
}

.languages-menu select {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    background-color: transparent;
    color: var(--color-light);
    outline: 0;
    border: 1px var(--color-light) solid;
    padding: .65rem .15rem .65rem .35rem;
    box-sizing: border-box;    
}

.languages-menu select:hover {
    cursor: pointer;
}

.languages-menu select option {
    background-color: var(--color-dark);
}

.languages-menu button {
    padding: 0.2rem 0.5rem;
    border: 1px var(--color-light) solid;
    color: var(--color-light);
}

.languages-menu button.active {
    border: 1px var(--color-gold) solid;
    color: var(--color-gold);
}


.auth {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}

.hamburger {
    display: none;
}

#mobile-menu-layer {
    display: none;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    margin: 0;
    padding: 0;
}

.first-screen {
    max-width: 800px;
    text-align: center;
}

.first-screen h1 {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    line-height: 90px; /* or 90% */
    letter-spacing: -0.03em;
    margin: 190px auto 50px auto;
}

.first-screen p {
    font-size: 20px;
    line-height: 35px; /* or 175% */
    letter-spacing: -0.01em;
    margin: 0 auto;
    max-width: 600px;
    margin-bottom: 40px;
}

.first-screen a {
    margin-bottom: 170px;
}

.calculate {
    margin: 0 auto;
    max-width: 1260px;   
    background-color: var(--color-black);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    padding: 3.75rem 3.75rem 3.125rem 3.75rem;
    margin-bottom: 2rem;
    color: var(--color-light);
    text-align: center;
}

.calculate h2 {
    margin: 0 auto;
    max-width: 740px;
    margin-bottom: 1.875rem;
    font-family: 'Cormorant';
    text-align: center;
    letter-spacing: -0.025em;
}

.calculate .subtitle {
    margin: 0 auto;
    max-width: 792px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px; /* or 175% */
    text-align: center;
    letter-spacing: -0.01em;
    margin-bottom: 4.375rem;
}

.calculate h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;  /* or 125% */
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--color-light);
}

.calculate h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px; /* identical to box height, or 146% */
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--color-light);
    margin-bottom: 1.25rem;
}

.calculate h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px; /* identical to box height, or 146% */
    letter-spacing: -0.01em;
    text-transform: capitalize;
    color: var(--color-light);
    margin-bottom: .35rem;
}

.calculate .goals {
    text-align: center;
}

.calculate .goals h3 {
    margin-bottom: 1.875rem;
}

.calculate .goals-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 1.875rem;
}

.calculate .goals-list a {
    color: var(--color-gray-dark);
    font-size: 20px;
    line-height: 35px; /* identical to box height, or 175% */
    letter-spacing: -0.01em;
    transition: .3s;
}

.calculate .goals-list .active a {
    color: var(--color-gold);
    text-decoration: underline;
}

.calculate .row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: .5rem;
}

.calculate .row > * {
    flex: 0 1 50%;
    text-align: left;

    margin-bottom: 2rem;
}

.calculate .row .investment {
    padding-top: 1rem;
}

.calculate .row .results {
    border: 1px var(--color-light) solid;
    padding: 3rem 5rem;
}

.calculate .btn-group {
    flex-direction: column;
    gap: 0;
    margin-top: 1rem;
}

.calculate .btn-primary {
    color: var(--color-black);
}

.calculate .investment-slider {
    margin-bottom: 3.125rem;
}

.calculate .investment-slider-currency {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    gap: 0;
}

.calculate .investment-values {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: .5rem;
    max-width: 231px;
    margin-bottom: .25rem;
}

.calculate .investment-values p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px; /* identical to box height, or 175% */
    letter-spacing: -0.01em;
}

.calculate .ui-slider-handle {
    border-radius: 100px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    background-color: var(--color-white);
    width: .6rem;
    height: .6rem;
}

.calculate .ui-slider-horizontal {
    padding: 0;
    margin: 0;
    height: 1px;
    border: 1px var(--color-gold) solid;
    max-width: 231px;
}

.calculate .investment-style {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: .65rem;
}

.calculate .investment-style-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}

.calculate .investment-style-list li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 9px;
}

.calculate .investment-style-list a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px; /* identical to box height, or 175% */
    letter-spacing: -0.01em;
    color: var(--color-gray-dark);
}

.calculate .investment-style-list .comment,
.calculate .results-item .comment {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    background-color: var(--color-gray-dark);
    color: var(--color-dark);
    width: 0.85rem;
    height: 0.85rem;
    border-radius: 100px;
}

.calculate .investment-style-list .comment:hover,
.calculate .results-item .comment:hover {
    cursor: pointer;
    opacity: .85;
}

.calculate .investment-style-list .active a,
.calculate .investment-style-list a:hover {
    color: var(--color-gold);
    text-decoration: underline;
}

.calculate .results h3 {
    margin-bottom: 1.85rem;
}

.calculate .results-item {
    padding: 0;
    margin-bottom: 1.85rem;
}

.calculate .results-item .results-item-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: .5rem;
}

.calculate .results-item h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px; /* identical to box height, or 146% */
    letter-spacing: -0.01em;
    text-transform: capitalize;
    margin-bottom: .3rem;
}

.calculate .results-item p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 35px; /* identical to box height, or 125% */
    letter-spacing: -0.01em;
    color: var(--color-gold);
}

.calculate .results-item p span {
    margin: 0 .25rem;
}

.about {
    width: 100%;
    background: url(../images/bg-about.png) no-repeat center top;
    padding: 92px 0 200px 0;
    text-align: center;
}

.about h2 {
    margin: 0 auto;
    margin-bottom: 1.9rem;
    max-width: 740px;
}

.about p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px; /* or 175% */
    text-align: center;
    letter-spacing: -0.01em;
    color: var(--color-white);
}

.about p.about-excerpt {
    margin: 0 auto;
    margin-bottom: 80px;
    max-width: 740px;
}

.about-list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1720px;
    margin: 0 auto;
}

.about-list__item {
    flex: 0 1 20%;
    max-width: 350px;
}

.about-list__item h3 {
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: var(--color-gold);
    text-transform: uppercase;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px var(--color-gold) solid;
}

.nsm-account {
    padding: 0 0 100px 0;
}

.nsm-account h2 {
    margin: 0 auto;
    margin-bottom: 5rem;
    max-width: 827px;
}

.nsm-account-list  {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
}

.nsm-account-list__item {
    flex: 0 1 32%;
    max-width: 480px;
    min-height: 456px;
    background-color: var(--color-black);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    padding: 3.75rem 1rem;
    text-align: center;
}

.nsm-account-list__item h3 {
    display: inline-block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px; /* identical to box height, or 146% */
    letter-spacing: -0.01em;
    text-transform: uppercase;
    margin-bottom: .96rem;
    color: var(--color-light);
    border-bottom: 1px var(--color-light) solid;
}

.nsm-account-list__item p {
    font-size: 20px;
    line-height: 35px; /* or 175% */
    letter-spacing: -0.01em;
    color: var(--color-gray-dark);
    margin: 0 auto;
    max-width: 350px;
}

.nsm-account-list__item p:first-child {
    color: var(--color-gold);
    margin-bottom: 4.7rem;
}

.create-account {
    width: 100%;
    background-color: var(--color-black);
    padding: 3.1rem 1rem;
    margin-bottom: 200px;
    text-align: center;
}

.create-account h2 {
    margin: 0 auto 2rem auto;
    max-width: 740px;
}

.create-account p {
    margin-bottom: 1.9rem;
}

.our-partners {
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}

.our-partners h2 {
    margin-bottom: 5rem;
}

.our-partners ul {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.our-partners ul li {
    flex: 0 1 17%;
    background-color: var(--color-black);
    padding: 5.45rem;
}

.contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: .5rem;
    width: 100%;
    background-color: var(--color-black);
    padding: 3.1rem 1rem;
    margin-bottom: 100px;
    text-align: center;
}

.contact-us h2 {
    margin-bottom: 1.9rem;
}

.contact-us a {
    font-size: 24px;
    color: var(--color-gold);
    transition: .4s;
}

.login {
    margin: 5% auto 15% auto;
    max-width: 998px;
    padding: 1.875rem 5rem;
    background-color: var(--color-black);
    box-shadow: 0px 6px 10px rgba(16, 17, 19, 0.15);
}

.login h1 {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 90px; /* identical to box height, or 180% */
    letter-spacing: -0.03em;
    text-align: center;
    width: 100%;
}

.login h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;/* identical to box height, or 175% */
    letter-spacing: -0.01em;
    text-align: center;
    width: 100%;
    margin-bottom: 3.1rem;
}

.login-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4rem;
    width: 100%;
}

.login-list .column {
    flex: 0 1 25%;
}

.login-form {
    flex: 1;
    margin: auto;
    padding: 1.56rem;
}

#signin.login-form {
    padding: 0;
}

#signup.login-form {
    background-color: var(--color-dark);
    padding: 1.56rem 2rem;
}

.field-userlogin-rememberme {
    display: none;
}

.input {
    background-color: transparent;
    color: var(--color-gray);
    border: 0;
    border-bottom: 1px var(--color-gray) solid;
    padding: .5rem 0.75rem;
    outline: 0;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 0.25rem;
    letter-spacing: -0.03em;
}

input:-internal-autofill-selected,
.input:-internal-autofill-selected {
    background-color: transparent !important;
    color: var(--color-gray) !important;
}

.field-login-rememberme input[type="checkbox"] {
    border: 4px var(--color-purple-light) solid;
    background-color: var(--color-white);
    border-radius: 6px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 0.75rem;
}

.field-login-rememberme label {
    font-size: 18px;
}

.form-group .help-block {
    font-size: 0.8rem;
    color: var(--color-red);
    margin-bottom: 2rem;
}

.form-submit-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 1rem;
    margin: 1.7rem 0;
}

.form-submit-group.text-left {
    align-items: flex-start !important;
}

.form-submit-group p {
    font-family: 'Inter';
    font-size: 1rem;
    line-height: 1.25rem; /* identical to box height, or 100% */
    text-align: center;
    letter-spacing: -0.01em;
    margin: 1rem 0;
}

.input-block {
    position: relative;
}

.show-password {
    position: absolute;
    top: 34px;
    right: 0;
    z-index: inherit;
    color: var(--color-gray-dark);
}

.btn-login {
    background-color: var(--color-red);
    color: var(--color-white);
    border: 0;
    outline: 0;
    padding: 0.75rem;
    border-radius: 6px;
    font-size: 20px;
    width: 100%;
}

.btn-login:hover {
    opacity: 0.85;
    cursor: pointer;
}

.btn-link {
    color: var(--color-gray);
    font-family: 'Inter';
    font-size: 1rem;
    line-height: 16px; /* identical to box height, or 100% */
    text-align: center;
    letter-spacing: -0.01em;
    text-decoration-line: underline;
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: larger;
    padding: .94rem 2.9rem;
}

.btn-primary {
    color: var(--color-white);
    background-color: var(--color-gold);
    border:  1px var(--color-gold) solid;
}

.btn-primary:hover {
    color: var(--color-dark);
    text-decoration: none;
}

.btn-secondary {
    color: var(--color-white);
    background-color: transparent;
    border:  1px var(--color-gray) solid;
}

.btn-secondary:hover,
.btn-secondary.active {
    color: var(--color-black);
    background-color: var(--color-gray);
    text-decoration: none;
}

.btn-medium {
    font-size: medium;
    padding-top: .8rem;
    padding-bottom: .8rem;
}

.btn-small {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.01em;
    padding: 0;
    margin: 0;
    width: 1.85rem;
    height: 1.85rem;
}

.btn-secondary.btn-small {
    color: var(--color-gold);
    background-color: transparent;
    border:  1px var(--color-gold) solid;
}

.btn-secondary.btn-small:hover,
.btn-secondary.btn-small.active {
    color: var(--color-black);
    background-color: var(--color-gold);
    border:  1px var(--color-gold) solid;
    text-decoration: none;
}

.btn-lang {
    font-size: medium;
    padding: .8rem 1rem;
}

.btn-lang:hover {
    text-decoration: none;
}

.btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.56rem;
}

.shadow,
.btn-shadow,
.btn-primary:hover {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.footer {
    width: 100%;
    background-color: var(--color-black);
    padding: 4rem 1rem;
}

.footer > * {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10rem;
}

.footer > * > * {
    flex: 0 1 21%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.95rem;
}

.footer > * > * > p {
    font-size: 15px;
    line-height: 20px; /* or 133% */
    letter-spacing: -0.025em;
    color: var(--color-gray-dark);
}

.footer > * > * > a {
    color: var(--color-gray);
}

.copyright {
    color: var(--color-gold);
}

.error-404,
.thank-you-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    text-align: center;
    height: 90vh;
}

.text-white {
    color: var(--color-white);
}

.text-gray {
    color: var(--color-gray);
}

.text-dark {
    color: var(--color-dark);
}

.text-black {
    color: var(--color-black);
}

.text-gold {
    color: var(--color-gold);
}

.text-red {
    color: var(--color-red);
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-justify {
    text-align: justify !important;
}

.hidden {
    display: none;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-11 0:59:59
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

.slide-in-bck-bottom {
	-webkit-animation: slide-in-bck-bottom 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bck-bottom 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/**
 * ----------------------------------------
 * animation slide-in-bck-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-bck-bottom {
    0% {
      -webkit-transform: translateZ(700px) translateY(300px);
              transform: translateZ(700px) translateY(300px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bck-bottom {
    0% {
      -webkit-transform: translateZ(700px) translateY(300px);
              transform: translateZ(700px) translateY(300px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
} 

@-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
.toTop {
    display: none;
    position: fixed;
    bottom: 19px;
    right: 19px;
    z-index: inherit;
    font-size: 3em;
    cursor: pointer;
    color: var(--color-gold);
}

.toTop:hover {
    opacity: .75;
}

.flash {
    position: absolute;
    top: 115px;
    right: 1rem;
    z-index: inherit;
    background-color: var(--color-gray);
    color: var(--color-black);
    border: 1px var(--color-gray) solid;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
    padding: .75rem 1.5rem;
}

.flash.success {
    background-color: var(--color-black);
    border: 1px var(--color-green) solid;
}

.flash.success > * {
    color: var(--color-green);
}

.flash.error {
    background-color: var(--color-black);
    border: 1px var(--color-red) solid;
}

.flash.error > * {
    color: var(--color-red);
}

@media (max-width: 1280.98px) {
    .header {
        padding-left: 1rem;
        padding-right: 1rem;
        background: transparent;
    }
    .logo figure {
        gap: .785rem;
    }
    .logo figure img {
        width: 50px;
        height: 40px;
    }
    .logo figure figcaption {
        font-size: 10px;
        line-height: 10px;
    }
    .main-menu {
        display: none;
    }
    .hamburger {
        display: block;
    }
    #mobile-menu-layer {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: inherit;
        margin: 0;
        padding: 0;
        background-color: rgba(30, 27, 27, 0.65);
    }
    #mobile-menu-layer .aside {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2rem;
        background-color: var(--color-black);
        width: 260px;
        max-width: 65%;
        min-height: 100vh;
        height: 100%;
        padding: 1.9rem 2rem;
    }
    #mobile-menu-layer .aside .nav .main-menu li {
        margin-bottom: .75rem;
    }
    #mobile-menu-layer .aside .nav .main-menu li a {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: .9rem;
        line-height: 20px;
        text-align: left;
        letter-spacing: -0.025em;
    }
    #mobile-menu-layer .aside .languages-menu {
        display: none;
    }
    #mobile-menu-layer .aside .btn.btn-secondary.btn-medium {
        display: none;
    }
    .our-partners ul li {
        padding: 4rem;
    }
}

@media (max-width: 1199.98px) {
    .languages-menu select {
        font-size: 1rem;
        padding: .5rem .12rem .5rem .25rem;
    }
}

@media (max-width: 1024.98px) {
    .main-menu li a {
        font-size: .8rem;
    }
    .calculate .row .results {
        padding: 3rem;
    }
    .about {
        padding: 50px 2rem 100px 2rem;
    }
    .about p {
        font-size: 18px;
        line-height: 30px;
    }
    .about-list {
        max-width: 980px;
    }
    .about-list__item {
        flex: 0 1 30%;
    }
    .about-list__item h3 {
        font-size: 20px;
        line-height: 30px;
    }
    .nsm-account h2 {
        margin-bottom: 4rem;
    }
    .nsm-account-list {
        gap: 2rem;
    }
    .nsm-account-list__item {
        flex: 0 1 45%;
        min-height: 380px;
        padding: 2.5rem 2rem;
    }
    .nsm-account-list__item p:first-child {
        margin-bottom: 2rem;
    }
    .create-account {
        padding: 4rem 2rem;
        margin-bottom: 80px;
    }
    .create-account h2 {
        margin: 0 auto;
        max-width: 740px;
        font-size: 50px;
        line-height: 45px;
        margin-bottom: 2rem;
    }
    .our-partners ul li {
        padding: 3rem;
    }
    .footer {
        padding: 3rem 2rem;
    }
    .footer > * > * {
        flex: 0 1 30%;
        gap: .75rem;
    }
}

@media (max-width: 991.98px) {
    .toTop {
        bottom: 19px;
        right: 19px;
        font-size: 4em;
    }
    .languages-menu select option {
        font-size: 1rem;
    }
    .first-screen h1 {
        font-size: 60px;
        line-height: 60px;
        margin: 100px auto 50px auto;
        max-width: 720px;
    }
    .calculate .row {
        display: block;
        align-items: unset;
        justify-content: unset;
        flex-wrap: unset;
        gap: unset;
    }
    .calculate .investment-values {
        max-width: 400px;
    }
    .calculate .ui-slider-horizontal {
        max-width: 400px;
    }
    .about-list {
        max-width: 760px;
    }
    .about-list__item {
        flex: 0 1 45%;
        max-width: 340px;
    }
    .nsm-account h2 {
        margin: 0 auto;
        margin-bottom: 5rem;
        max-width: 640px;
        font-size: 45px;
    }
    .nsm-account-list {
        padding: 0 1rem;
    }
    .nsm-account-list__item {
        flex: 0 1 45%;
        max-width: unset;
        min-height: 450px;
        padding: 2.5rem 2rem;
    }
    .nsm-account-list__item p:first-child {
        margin-bottom: 2.5rem;
    }
    .create-account {
        margin-bottom: 100px;
    }
    .create-account h2 {
        font-size: 50px;
        line-height: 45px;
        max-width: 640px;
    }
    .our-partners ul {
        gap: 2rem;
        padding: 0 1rem;
    }
    .our-partners ul li {
        flex: 0 1 45%;
        padding: 4rem;
    }
    .footer {
        padding: 2rem;
    }
    .footer > * {
        justify-content: center;
        gap: 1rem;
    }
    .footer > * > * {
        align-items: center;
        flex: 1 1 100%;
        gap: .75rem;
    }
    .footer > * > * > p {
        font-size: .8rem;
        max-width: 200px;
        text-align: center;
    }
    .login {
        margin: 0 auto;
        max-width: unset;
        padding: 1.5rem 2rem;
        background-color: var(--color-dark);
    }
    .login h1 {
        font-size: 45px;
        line-height: 45px;
        color: var(--color-light);
        max-width: 620px;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    .login h1.text-left,
    .login h2.text-left {
        text-align: center !important;
    }
    .toTop {
        bottom: 19px;
        right: 19px;
        font-size: 3em;
    }
}
@media (max-width: 767.98px) {
    .languages-menu {
        display: none;
        justify-content: flex-end;
        gap: 0.5rem;
    }
    .languages-menu button {
        padding: 0.15rem 0.25rem;
        width: 31px;
        height: 31px;
    }
    .languages-menu select {
        font-size: 14px;
    }
    .header .auth .btn.btn-secondary.btn-medium {
        display: none;
        font-size: 14px;
        padding: 0.687rem 1.5rem;
    }
    #mobile-menu-layer .aside .languages-menu {
        display: flex;
        justify-content: flex-start;
    }
    #mobile-menu-layer .aside .btn.btn-secondary.btn-medium {
        display: block;
        font-size: 14px;
        padding-top: 0;
        padding-bottom: 0;
        padding: 0.55rem 1rem;
    }
    .first-screen h1 {
        font-size: 35px;
        line-height: 35px;
        margin: 80px auto 20px auto;
    }
    .first-screen p {
        max-width: 330px;
        margin-bottom: 1.5rem;
        font-size: 14px;
        line-height: 20px;
    }
    .first-screen a {
        margin-bottom: 125px;
        font-size: 14px;
        line-height: 35px;
        padding: 0.5rem 1.5rem;
    }
    .calculate {
        padding: 2rem 2rem 1.5rem 2rem;
        margin-bottom: 1.25rem;
    }
    .calculate h2 {
        font-weight: 600;
        font-size: 25px;
        line-height: 25px;
        max-width: 300px;
        margin-bottom: 1.1rem;
    }
    .calculate .subtitle {
        max-width: 328px;
        font-size: 1rem;
        line-height: 25px;
        margin-bottom: 2rem;
    }
    .calculate h3 {
        font-size: .95rem;
        line-height: 25px;
    }
    .calculate h4 {
        font-size: .9rem;
        margin-bottom: 1.25rem;
        line-height: 25px;
        text-align: center;
    }
    .calculate .goals h3 {
        margin-bottom: 1.25rem;
    }
    .calculate .goals-list {
        margin-bottom: 1.5rem;
    }
    .calculate .goals-list li {
        line-height: 1;
    }
    .calculate .goals-list a {
        font-size: .95rem;
        line-height: 1;
    }
    .calculate .row {
        display: block;
        align-items: unset;
        justify-content: unset;
        flex-wrap: unset;
        gap: unset;
    }
    .calculate .row > * {
        flex: unset;
        text-align: center;
        margin-bottom: 1.25rem;
    }
    .calculate .row .results {
        padding: 3rem;
        margin-bottom: 2rem;
    }
    .calculate .results-item:last-child {
        margin-bottom: 0;
    }
    .calculate .results-item .results-item-header {
        justify-content: center;
        gap: .75rem;
    }
    .calculate .results-item h4 {
        font-size: .95rem;
        line-height: 30px;
        margin-bottom: 0;
    }
    .calculate .results-item p {
        font-size: 1.5rem;
    }
    .calculate .ui-slider-horizontal {
        max-width: unset;
    }
    .calculate .investment-values {
        max-width: unset;
        margin-bottom: .25rem;
    }
    .calculate .investment-style-list a {
        font-size: .95rem;
        line-height: 1;
    }
    .calculate .investment-style-list .comment, .calculate .results-item .comment {
        font-size: 11px;
        width: 0.95rem;
        height: 0.95rem;
    }
    .about {
        width: 100%;
        padding: 4rem 0 6rem 0;
    }
    .about h2 {
        font-size: 25px;
        line-height: 25px;
        margin-bottom: .9rem;
        max-width: 315px;
    }
    .about p {
        font-size: .9rem;
        line-height: 25px;
    }
    .about p.about-excerpt {
        font-size: .9rem;
        line-height: 20px;
        margin-bottom: 40px;
        max-width: 328px;
    }
    .about-list {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .about-list__item {
        flex: 1;
        max-width: 328px;
    }
    .about-list__item h3 {
        font-size: .95rem;
        line-height: 20px;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }
    .nsm-account {
        padding: 0 2rem 4.7rem 2rem;
    }
    .nsm-account h2 {
        font-size: 1.562rem;
        line-height: 30px;
        margin: 0 auto;
        margin-bottom: 1.35rem;
        max-width: 328px;
    }
    .nsm-account-list {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.56rem;
    }
    .nsm-account-list__item {
        flex: 1 1 100%;
        max-width: unset;
        min-height: unset;
        padding: 1.5rem;
    }
    .nsm-account-list__item h3 {
        font-size: .95rem;
        line-height: 20px;
        margin-bottom: .625rem;
    }
    .nsm-account-list__item p {
        font-size: .9rem;
        line-height: 20px;
        max-width: 298px;
    }
    .nsm-account-list__item p:first-child {
        margin-bottom: 1rem;
    }
    .create-account {
        padding: 1.875rem 1.5rem;
        margin-bottom: 5rem;
    }
    .create-account h2 {
        font-size: 25px;
        line-height: 25px;
        margin: 0 auto 1.25rem auto;
        max-width: 328px;
    }
    .create-account p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 1.25rem;
    }
    .create-account .btn-group {     
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: .625rem;
    }
    .our-partners {
        margin-bottom: 5rem;
    }
    .our-partners h2 {
        font-size: 25px;
        line-height: 25px;
        letter-spacing: -0.025em;
        margin-bottom: 1.25rem;
    }
    .our-partners ul {
        gap: 1.5rem;
        padding: 0 2rem;
    }
    .our-partners ul li {
        flex: 1 1 100%;
        padding: 3.125rem;
    }
    .contact-us {
        gap: .5rem;
        padding: 2rem;
        margin-bottom: 80px;
    }
    .contact-us h2 {
        font-size: 25px;
        line-height: 25px;
        margin-bottom: .5rem;
    }
    .contact-us a {
        font-size: .9rem;
        line-height: 25px;
    }
    .login h1 {
        font-size: 35px;
        line-height: 35px;
        color: var(--color-light);
        max-width: unset;
        margin: 0;
        margin-bottom: 2rem;
    }
    .login h2.text-left {
        line-height: 25px;
    }
    .login-list {
        display: block;
        align-items: unset;
        justify-content: unset;
        flex-wrap: unset;
        gap: unset;
    }
    .form-submit-group {
        margin: 0;
    }
    .toTop {
        bottom: 19px;
        right: 19px;
        font-size: 2.5em;
    }
}
