$font-family: "Inter Regular", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$light:     #F8F8F8;
$white:     #FFFFFF;
$gray:      #BFBFBF;
$gray-dark: #AAAAAA;
$black:     #090909;
$dark:      #131313;
$dark-light:#666666;
$gold:      #CEA15D;
$gold-light:#A48962;
$bronze:    #965B1D;
$red:       #C10A0A;
$red-dark:  #AD0E0E;
$green:     #47BB1E;
$blue:          #4A7197;
$blue-light:    #5E7B97;
$green-light:   #5A9882;
// secondary 3
$purple:        #555099;
$purple-light:  #676499;

$box-shadow:    0px 6px 10px rgba(16, 17, 19, 0.1);

// debug
$border-red:    1px red solid;
$border-blue:   1px blue solid;
$border-green:  1px green solid;